#container {
	display: grid;
	grid-template-columns: 70% 25%;
	grid-template-rows: 95%;
	grid-gap: 2em;
	align-content: center;
	justify-content: center;
	height: 100vh;
}

#notes-display {
	overflow-y: scroll;
	overflow-x: hidden;
	word-break: break-all;
}

#noteSets_container {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;
	grid-gap: 2.5em;
	align-items: center;
	justify-items: center;
}

.header {
	display: grid;
	justify-items: center;
	padding-bottom: 0.5em;
}

#noteSet {
	width: 15em;
	height: 10em;
	background-color: aliceblue;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.left-side {
	display: grid;
	background-color: bisque;
	align-content: center;
	justify-content: center;
	outline: 2px black solid;
}

.right-side {
	display: grid;
	background-color: aliceblue;
	grid-template-rows: 10% 70% 20%;
	outline: 2px black solid;
}

.timer {
	display: grid;
	grid-template-columns: 40% 40%;
	outline: 2px black solid;
	align-content: center;
	justify-content: center;
}

.notes-box {
	outline: 2px black solid;
}

.input-box {
	display: grid;
	grid-template-columns: 80% 20%;
	outline: 2px black solid;
}

.display-time {
	font-size: larger;
}