#container {
	display: grid;
	grid-template-columns: 70% 55%;
	grid-template-rows: 95%;
	align-content: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

#containerIfSidebar {
	align-content: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: 90vw;
	float: right;
}

#loginContainer {
	display: grid;
	grid-template-columns: 70% 55%;
	grid-template-rows: 95%;
	align-content: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

#notes-display {
	overflow-y: scroll;
	overflow-x: hidden;
	word-break: break-all;
	color: black;
}

#noteSets_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2.5em;
	align-items: center;
	justify-items: center;
	margin-top: 10%;
	position: fixed;
	z-index: 1000;
}

.header {
	display: grid;
	justify-items: center;
	padding-bottom: 0.5em;
}

#noteSet {
	width: 15em;
	height: 10em;
	background-color: aliceblue;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	justify-items: center;
	box-shadow: 5px 10px #62bcfa;
}

.left-side {
	display: grid;
	background-color: bisque;
	color: black;
	align-content: center;
	justify-content: center;
	outline: 2px black solid;
}

.right-side {
	display: grid;
	background-color: aliceblue;
	color: black;
	grid-template-rows: 10% 70% 20%;
	outline: 2px black solid;
}

.timer {
	display: grid;
	grid-template-columns: 40% 40%;
	outline: 2px black solid;
	color: black;
	align-content: center;
	justify-content: center;
}

.notes-box {
	outline: 2px black solid;
	color: black;
}

.input-box {
	display: grid;
	grid-template-columns: 80% 20%;
	outline: 2px black solid;
	color: black;
}

.display-time {
	font-size: larger;
	color: black;
}

#adjustableSize {
	padding-bottom: 56.25%;
	position: relative;
}

#YoutubeVideo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#pageNum {
	width: 60;
	height: 57;
}
