#presentations {
	height: 100vh;
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 11% 11% auto 10%;
	grid-template-areas:
		"presentationsidebar presentationheader presentationsidebar"
		"presentationsidebar presentationjoin presentationsidebar"
		"presentationsidebar presentationlist presentationsidebar"
		"presentationfooter presentationfooter presentationfooter";
}

#schedulepresentation {
	height: 100vh;
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 11% auto 10%;
	grid-template-areas:
		"presentationheader presentationheader presentationheader"
		"presentationsidebar presentationcreate presentationsidebar"
		"presentationfooter presentationfooter presentationfooter";

	z-index: 50;
}

#presentationlabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#presentationcreate {
	padding-top: 1em;
	grid-area: "presentationcreate";
	justify-content: center;
	align-items: center;
	text-align: left;
}

#presentationsidebar {
	grid-area: "presentationsidebar";
}

#presentationheader {
	grid-area: "presentationheader";
	justify-content: center;
	align-items: center;
	text-align: center;
}

#presentationjoin {
	grid-area: "presentationjoin";
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 1.5em;
}

#presentationlist {
	grid-area: "presentationlist";
	overflow: auto;
}

#presentationfooter {
	grid-area: "presentationfooter";
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#presentation-title {
	font-size: 2em;
}

#small-presentation-box {
	border: 1px solid #7257de;
}

#big-presentation-box {
	padding-top: 5em;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#presentationbutton {
	background-color: #8400ff;
	padding: 1.1em;
}

#deletebutton {
	background-image: url("delete.png");
	background-size: cover;
	border: none;
	width: 2em;
	height: 2.5em;
	background-size: 2.5em 2.5em;
	background-repeat: no-repeat;
	float: right;
	transform: translate(0%, -135%);
}

#deletebuttonsmall {
	background-image: url("delete.png");
	background-size: cover;
	border: none;
	width: 35px;
	height: 35px;
	background-size: 40% 80%;
	background-repeat: no-repeat;
	float: right;
	transform: translate(45%, -120%);
}

#editbutton {
	background-image: url("edit.png");
	background-size: cover;
	border: none;
	width: 2em;
	height: 2.5em;
	background-size: 2.5em 2.5em;
	background-repeat: no-repeat;
	float: right;
	transform: translate(-25%, -135%);
}

#editbuttonsmall {
	background-image: url("edit.png");
	background-size: cover;
	border: none;
	width: 35px;
	height: 35px;
	background-size: 40% 80%;
	background-repeat: no-repeat;
	float: right;
	transform: translate(-155%, -110%);
}

#joinbutton {
	background-image: url("join.png");
	background-size: cover;
	border: none;
	width: 2em;
	height: 2.5em;
	background-size: 2.5em 2.5em;
	background-repeat: no-repeat;
	float: right;
	transform: translate(-50%, -135%);
}

#mediabutton {
	background-image: url("swapMedia.png");
	background-size: cover;
	border: none;
	width: 2em;
	height: 2.5em;
	background-size: 2.5em 2.5em;
	background-repeat: no-repeat;
	float: right;
	transform: translate(-75%, -135%);
}

#scheduleHead {
	background-color: #36393e;
	color: white;
	box-shadow: 5px 10px #6638ac;
	border-radius: 0px;
	z-index: 30;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 600px;
	height: 50px;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -100%);
	z-index: 500;
}

#schedulePanel {
	margin-top: 1.5em;
	color: white;
	background-color: #1e2124;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 35em;
	height: 30em;
	padding-left: 10%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 400;
	box-shadow: 5px 10px #6638ac;
}
