#presentations {
	height: 100vh;
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 11% 11% auto 10%;
	grid-template-areas:
		"presentationsidebar presentationheader presentationsidebar"
		"presentationsidebar presentationjoin presentationsidebar"
		"presentationsidebar presentationlist presentationsidebar"
		"presentationfooter presentationfooter presentationfooter";
}

#schedulepresentation {
	height: 100vh;
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 11% auto 10%;
	grid-template-areas:
		"presentationheader presentationheader presentationheader"
		"presentationsidebar presentationcreate presentationsidebar"
		"presentationfooter presentationfooter presentationfooter";
}

#presentationlabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#presentationcreate {
	grid-area: "presentationcreate";
	justify-content: center;
	align-items: center;
	text-align: left;
}

#presentationsidebar {
	grid-area: "presentationsidebar";
	background-color: #424549;
}

#presentationheader {
	grid-area: "presentationheader";
	background-color: #424549;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#presentationjoin {
	grid-area: "presentationjoin";
	background-color: #424549;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#presentationlist {
	grid-area: "presentationlist";
	overflow: auto;
}

#presentationfooter {
	grid-area: "presentationfooter";
	background-color: #424549;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#presentation-title {
	font-size: 30px;
}

#small-presentation-box {
	border: 1px solid #7257de;
}

#big-presentation-box {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#presentationbutton {
	background-color: #8400ff;
	padding: 15px;
}

#deletebutton {
	background-image: url("delete.png");
	background-size: cover;
	border: none;
	width: 70px;
	height: 70px;
	float: right;
	transform: translate(0%, -135%);
}

#editbutton {
	background-image: url("edit.png");
	background-size: cover;
	border: none;
	width: 70px;
	height: 70px;
	float: right;
	transform: translate(-50%, -135%);
}

#joinbutton {
	background-image: url("join.png");
	background-size: cover;
	border: none;
	width: 70px;
	height: 70px;
	float: right;
	transform: translate(-100%, -135%);
}
