#container {
	display: grid;
	grid-template-columns: 70% 25%;
	grid-template-rows: 95%;
	grid-gap: 2em;
	align-content: center;
	justify-content: center;
	height: 100vh;
}

#notes-display {
	overflow-y: scroll;
	overflow-x: hidden;
	word-break: break-all;
}

.left-side {
	display: grid;
	background-color: bisque;
	align-content: center;
	justify-content: center;
	outline: 2px black solid;
}

.right-side {
	display: grid;
	background-color: aliceblue;
	grid-template-rows: 10% 70% 20%;
	outline: 2px black solid;
}

.timer {
	display: grid;
	grid-template-columns: 40% 40%;
	outline: 2px black solid;
	align-content: center;
	justify-content: center;
}

.notes-box {
	outline: 2px black solid;
}

.input-box {
	display: grid;
	grid-template-columns: 80% 20%;
	outline: 2px black solid;
}

.display-time {
	font-size: larger;
}

